/css/allcss.css.gz
/.idea
/.idea/*.xml
.idea/.name
/.idea/dictionaries
/.idea/scopes
/.idea/scopes/scope_settings.xml
/.idea/scopes/*.xml
/js/alljs.js.gz
/js/alljs.js
/data/Vita-Flex_Retail-Prices.pdf
/yandex.xml
/mailru.xml
/search.txt
/swfobject.js
/tagcloud.swf
/yandex_old.xml
/ymarket2.xml
/index_20121023.html
/sitemap_10.xml
/info.php

/css/allcss.css
/css/allcss.css.gz
/js/alljs.js.gz
/js/alljs.js

/media_files/img
/media_files/img2
/media_files/pdf
/media_files/small/png
log/

/1/tmp_import/csv/
/1/tmp_import/csv/*.*
/1/tmp_import/img/
/1/tmp_import/img/*.*
/1/tmp_import/img/shatura/
/1/tmp_import/img/shatura/*.jpg
/1/tmp_import/img/shatura/ok/
/1/tmp_import/img/shatura/ok/*.jpg
/1/tmp_import/src/
/1/tmp_import/src/*.*
/1/tmp_import/src/ok/
/1/tmp_import/src/ok/*.jpg
/1/tmp_import/src/ok2/
/1/tmp_import/src/ok2/*.jpg
/1/tmp_import/src/ok3/
/1/tmp_import/src/ok3/*.jpg
